<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        The best app for <strong>tests</strong>
      </h2>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
            <button ion-button icon-only block class="btn-facebook" (click)="loginWithFacebook()">
              Login with <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>
