page-test-creating {
  .relative {
    position: relative;
  }
  .answer-number{
    font-size:12px;
    margin-right: 3px !important;
  }
  ion-checkbox.square {
    .checkbox-icon{
      border-radius: 0;
    }
  }
  *:not(.square) {
    .checkbox-icon{
      border-radius: 100%;
    }
  }
}
