<!--
  Generated template for the TestCreatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{test?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="openTestToPass()" [disabled]="test?.questions.length == 0">
        <span>Pass</span>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form *ngIf="testForm" [formGroup]="testForm" (submit)="submitTest(testForm)">
    <ion-card>
      <ion-item class="detail-bg">
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="alert detail-bg" *ngIf="testForm.controls['name'].invalid && (testForm.controls['name'].touched || submitPressed)">
        <span>Can't be empty</span>
      </ion-item>
    </ion-card>


    <div no-padding formArrayName="questions">
      <ion-card *ngFor="let question of testForm.controls['questions'].controls; let i = index">
        <div [formGroup]="question">
          <ion-item no-margin class="detail-bg" [class.border-bottom]="!checkQuestionText(question)">
            <ion-label>№{{i + 1}}</ion-label>
            <ion-input type="text" formControlName="questionText"></ion-input>
            <button item-right ion-button round no-margin color="danger" *ngIf="i > 0" (click)="removeQuestion(i)">✕
            </button>
          </ion-item>
          <ion-item class="alert detail-bg border-bottom" *ngIf="checkQuestionText(question)">
            <span>You forgot to type the question</span>
          </ion-item>
          <ion-grid class="border-bottom">
            <ion-row radio-group formControlName="questionType" (ionChange)="changeQuestionType(i)">
              <ion-col col="4">
                <ion-item no-lines>
                  <ion-label>Single</ion-label>
                  <ion-radio [value]="questionType.single"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col="4">
              </ion-col>
              <ion-col col="4">
                <ion-item no-lines>
                  <ion-label>Multi</ion-label>
                  <ion-radio [value]="questionType.multi"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item no-margin class="border-bottom">
            <div formArrayName="answers">
              <div class="form-group" *ngFor="let answer of question.controls['answers'].controls; let j = index">
                <div [formGroup]="answer">
                  <ion-item no-padding no-margin>
                    <span class="answer-number" item-left>{{i + 1}}.{{j + 1}}</span>
                    <ion-checkbox [class.square]="question.controls['questionType'].value == questionType.multi" id="{{i}}{{answer.value.correctness}}" (click)="changeRadio(i, j, !answer.value.correctness)"
                                  formControlname="correctness"
                                  [checked]="answer.controls.correctness.value"
                    ></ion-checkbox>
                    <ion-input class="relative" formControlName="body"></ion-input>
                    <button item-right ion-button round no-margin color="danger" *ngIf="j > 0" (click)="removeAnswer(question, j)">✕</button>
                  </ion-item>
                  <ion-item class="alert" *ngIf="checkAnswerText(answer)">
                    <span>You forgot to type the answer</span>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-item>
          <ion-item class="detail-bg">
            <button ion-button round type="button" (click)="createAnswer(question)">
              + answer
            </button>
          </ion-item>
        </div>
      </ion-card>
    </div>


    <ion-card>
      <ion-item class="detail-bg">
        <button item-left ion-button round type="button" (click)="createQuestion()">
          + question
        </button>
        <button class="dark-bg" ion-button round [disabled]="!modelWasChanged">
          Save
        </button>
        <button class="dark-bg" type="button" item-right ion-button round [disabled]="test.questions.length == 0" (click)="openTestToPass()">
          Pass
        </button>
      </ion-item>
    </ion-card>
  </form>


</ion-content>


<!--<div *ngIf="testForm">-->
<!--<form [formGroup]="testForm" (submit)="submitTest(testForm)">-->
<!--<div class="form-group">-->
<!--<label>Название</label>-->
<!--<input class="form-control" name="name" formControlName="name"/>-->

<!--<div class="alert alert-danger"-->
<!--*ngIf="testForm.controls['name'].invalid && testForm.controls['name'].touched">-->
<!--Не указано названи-->
<!--</div>-->
<!--</div>-->


<!--<div formArrayName="questions">-->
<!--<div class="form-group" *ngFor="let question of testForm.controls['questions'].controls; let i = index">-->


<!--<fieldset>-->
<!--<div [formGroup]="question">-->
<!--<label>Воппрос {{i + 1}}</label>-->
<!--<input class="form-control" formControlName="questionText"/>-->
<!--<button class="btn btn-default" *ngIf="i > 0" (click)="removeQuestion(i)">✕</button>-->

<!--<div>-->
<!--<label>-->
<!--<input type="radio" id="false{{i}}" formControlName="questionType" [value]="questionType.multi"-->
<!--(ngModelChange)="changeQuestionType(i)">-->
<!--<label for="false{{i}}">Multi</label>-->
<!--</label>-->
<!--<label>-->
<!--<input type="radio" id="true{{i}}" formControlName="questionType" [value]="questionType.single"-->
<!--(ngModelChange)="changeQuestionType(i)">-->
<!--<label for="true{{i}}">Single</label>-->
<!--</label>-->
<!--</div>-->


<!--<div formArrayName="answers">-->
<!--<div class="form-group" *ngFor="let answer of question.controls['answers'].controls; let j = index">-->
<!--<div [formGroup]="answer">-->

<!--<label *ngIf="question.controls['questionType'].value == questionType.single">-->
<!--<input type="radio" id="answerRadio{{i}}{{j}}" (click)="checkboxAnswerChangedCorrect(i, j)"-->
<!--[checked]="answer.controls.correctness.value">-->
<!--<label for="answerRadio{{i}}{{j}}">{{i + 1}}.{{j + 1}}</label>-->
<!--</label>-->

<!--<label *ngIf="question.controls['questionType'].value == questionType.multi">-->
<!--<input type="checkbox" id="answerCheckbox{{i}}{{j}}" formControlName="correctness"-->
<!--[value]="!answer.controls.correctness" (click)="checkboxAnswerChangedCorrect(i, j)">-->
<!--<label for="answerCheckbox{{i}}{{j}}">{{i + 1}}.{{j + 1}}</label>-->
<!--</label>-->
<!--&lt;!&ndash;<input class="form-control" formControlName="body" ([ngModel])="answer.body"/>&ndash;&gt;-->
<!--<input class="form-control" formControlName="body"/>-->
<!--<button class="btn btn-default" *ngIf="j > 0" (click)="removeAnswer(question, j)">✕</button>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<button class="btn btn-default" type="button" (click)="createAnswer(question)">-->
<!--Добавить ответ-->
<!--</button>-->

<!--</div>-->
<!--</fieldset>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group" *ngIf="testForm.controls['questions'].controls.length > 0">-->
<!--<label>Минимальное колличество правильных ответов</label>-->
<!--<select formControlName="minCorrectAnswers">-->
<!--<option disabled>Минимальное колличество правильных ответов</option>-->
<!--<option *ngFor="let question of testForm.controls['questions'].controls; let i = index" [value]="i + 1">{{i +-->
<!--1}}-->
<!--</option>-->
<!--</select>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<button class="btn btn-default" type="button" (click)="createQuestion()">-->
<!--Добавить вопрос-->
<!--</button>-->
<!--<button class="btn btn-default" [disabled]="!modelWasChanged">-->
<!--Отправить-->
<!--</button>-->
<!--<button class="btn btn-default" [disabled]="test.questions.length == 0" (click)="openTestToPass()">-->
<!--Пройти-->
<!--</button>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
