<ion-card class="detail-bg" *ngIf="testResult">
  <ion-grid class="no-padding" align-items-center>
    <ion-row *ngFor="let key of testResultKeys; let i = index" [class.border-bottom]="i < key.length - 2" class="padding-sm">
      <ion-col col="6">{{key}}</ion-col>
      <ion-col col="6">{{testResult[key]}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
