page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
  .color-white {
    color: #fff;
  }
  .align-center {
    text-align: center;
  }
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
