<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Training app for <strong>SSA</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">


  <ion-card no-margin margin-top class="full-width" *ngFor="let item of appMenuItems" (click)="goTo(item)">
    <img class="card-img" [src]="item.img">
    <ion-item class="dark-bg color-white align-center">
      <ion-icon item-center [name]="item.icon"></ion-icon>
      <span>{{item.title}}</span>
    </ion-item>
  </ion-card>
</ion-content>
