<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Training app for <strong>SSA</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="createTest()">
    <ion-icon name="add"></ion-icon>
    Create test
  </button>

  <ion-card no-margin margin-top class="full-width" *ngFor="let test of testDaoService.tests | sort">
    <ion-item class="border-bottom">
      <ion-grid align-items-center>
        <ion-row>
          <ion-col align-self-center col-1 (onPressing)="editTest(test)" (click)="passTest(test.id)" ion-long-press [interval]="400">
            <ion-icon name="folder" color="primary" item-left></ion-icon>
          </ion-col>
          <ion-col align-self-center col-5 (onPressing)="editTest(test)" (click)="passTest(test.id)" ion-long-press [interval]="400">
            <span>{{ test.name }}</span>
          </ion-col>
          <ion-col align-self-center col-4></ion-col>
          <ion-col align-self-center col-2 class="align-right">
            <button ion-button round no-margin color="primary" class="round circle" tappable (click)="openTest(test)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>

      <ion-grid align-items-center>
        <ion-row>
          <ion-col align-self-center col-1>
            <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
          </ion-col>
          <ion-col align-self-center col-5>
            <span>{{test.dateAdded}}</span>
          </ion-col>
          <ion-col align-self-center col-4></ion-col>
          <ion-col align-self-center col-2 class="align-right">
            <button ion-button round no-margin color="danger" class="round circle" tappable (click)="removeTest(test)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
</ion-content>
