<!--
  Generated template for the TestPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{test?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding></ion-content>
<ion-content padding *ngIf="test">

  <form #form="ngForm" *ngIf="activeQuestionNumber < test.questions.length; else results">
    <ion-card class="section">
      <ion-item class="border-bottom primary-bg color-white">{{test.questions[activeQuestionNumber].questionText}}
      </ion-item>

      <div *ngIf="test.questions[activeQuestionNumber].questionType == questionType.single">

        <ion-item *ngFor="let answer of test.questions[activeQuestionNumber].answers let j = index">
          <ion-checkbox id="answerRadio-{{j}}" type="radio" value="true"
                        [checked]="answerModel[activeQuestionNumber][j]" (click)="radioChanged(j)"></ion-checkbox>
          <ion-label>{{answer.body}}</ion-label>
        </ion-item>
      </div>

      <div *ngIf="test.questions[activeQuestionNumber].questionType == questionType.multi">
        <ion-item *ngFor="let answer of test.questions[activeQuestionNumber].answers let j = index">
          <ion-checkbox class="square" id="answerCheckbox-{{j}}" type="checkbox" name="answerCheckbox{{activeQuestionNumber}}{{j}}"
                        [(ngModel)]="answerModel[activeQuestionNumber][j]"></ion-checkbox>
          <ion-label>{{answer.body}}</ion-label>
        </ion-item>
      </div>

      <ion-item>
        <button [disabled]="checkDisabling" ion-button round *ngIf="activeQuestionNumber < test.questions.length"
                class="btn btn-default" (click)="submitAnswer()">
          {{activeQuestionNumber < test.questions.length - 1 ? 'Next' : 'Submit test'}}
        </button>
      </ion-item>
    </ion-card>

  </form>
  <ng-template #results>
    <app-result [answers]="answerModel" [test]="test"></app-result>
  </ng-template>
</ion-content>
