page-test-pass {
  .color-white {
    color: #fff;
  }

  ion-checkbox.square {
    .checkbox-icon{
      border-radius: 0;
    }
  }
  *:not(.square) {
    .checkbox-icon{
      border-radius: 100%;
    }
  }
}
